.blockquote {
  background: #f6f6f6;
  margin: 0.5em 0;
  padding: .5em 1.5em;
  border-radius: 7px;
  position: relative;
}
.blockquote:after {
  content: "";
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: #6868ac;
}
.blockquote>ul,
.blockquote>ol {
  padding-left: 1em;
}

/* .markdown-style {

} */