@import "./colors.scss";

.primary {
  color: $primary;
}

.markdown-style {
  h1,
  h2 {
    margin: 3rem 0 1rem;
    // color: $primary;
    // border-bottom: 1px solid $primary;
  }

  a {
    color: $primary;
    font-weight: 500;
    text-decoration: underline;
  }

  .code {
    position: relative;

    &:hover .copy-icon {
      display: block;
    }

    .copy-alert {
      color: $primary;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 10;
    }

    .copy-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 10;
      display: none;
    }

    svg {
      width: 1.5rem;
    }
    button.icon {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }

  .blockquote {
    margin: 0.5em 0;
    padding: 0.5em 1.5em;
    border-radius: 7px;
    position: relative;

    &.light {
      background: $light;
    }

    &.dark {
      background: $dark;
      color: #eee;
    }

    &:after {
      content: "";
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background: $primary;
    }

    // blockquote에 들어가는 리스트 태그 스타일링
    ul,
    ol {
      padding-left: 1em;
    }
  }

  // 전역에 들어가는 리스트 태그 스타일링
  ul,ol{
    padding-left: 2rem;
  }
}
/* .markdown-style {

} */

.mobile {
  display: none;

  @media (max-width: 760px) {
    display: block;
  }
}

.non-mobile {
  display: none;

  @media (min-width: 761px) {
    display: block;
  }
}

ul,
ol {
  @media (max-width: 760px) {
    padding-left: 1rem;
  }
}
